@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.net </h1>
    <p class="lead">Library Menagment Web Applications  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

